<div>Logged In to Account Kit:</div>
<div>User Token <%= @access_token %></div>
<div>Token Refresh after <%= @expires_at / (24 * 60 * 60) %> days</div>
<div>User Id <%= @user_id %></div>
<div>User phone: <%= @phone_number %></div>
<div>User email: <%= @email_arddess %></div>
